<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opensrcdevelop.auth.biz.mapper.audit.AuditLogMapper">

    <select id="searchUserOperationLog" resultType="cn.opensrcdevelop.auth.audit.entity.AuditLog">
        SELECT
            t1.audit_id,
            t1.user_id,
            t2.username,
            t1.operation_type,
            t1.resource_id,
            t1.operation_result,
            t1.operation_time,
            t1.operation_detail,
            t1.ip,
            t1.ip_region,
            t1.device_type,
            t1.os_type,
            t1.browser_type,
            t1.extra_info,
            t1.request_id
        FROM
            t_audit_log t1 LEFT JOIN t_user t2 ON t1.user_id = t2.user_id
        WHERE
            t1.audit_type = 1
            <if test="keyword != null and keyword != ''">
                AND (
                t1.user_id LIKE CONCAT('%', #{keyword}, '%')
                OR t2.username LIKE CONCAT('%', #{keyword}, '%')
                OR t1.ip LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="operationType != null and operationType != ''">
                AND t1.operation_type = #{operationType}
            </if>
            <if test="startTime!= null">
                AND t1.operation_time >= #{startTime}
            </if>
            <if test="endTime!= null">
                AND t1.operation_time &lt;= #{endTime}
            </if>
        ORDER BY t1.operation_time DESC
    </select>

    <select id="searchSysOperationLog" resultType="cn.opensrcdevelop.auth.audit.entity.AuditLog">
        SELECT
            t1.audit_id,
            t1.user_id,
            t2.username,
            t1.operation_type,
            t1.resource_id,
            t1.operation_result,
            t1.operation_time,
            t1.operation_detail,
            t1.ip,
            t1.ip_region,
            t1.device_type,
            t1.os_type,
            t1.browser_type,
            t1.extra_info,
            t1.request_id
        FROM
            t_audit_log t1 LEFT JOIN t_user t2 ON t1.user_id = t2.user_id
        WHERE
            t1.audit_type = 0
        <if test="keyword != null and keyword != ''">
            AND (
                t1.user_id LIKE CONCAT('%', #{keyword}, '%')
                OR t2.username LIKE CONCAT('%', #{keyword}, '%')
                OR t1.ip LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        <if test="operationType != null and operationType != ''">
            AND t1.operation_type = #{operationType}
        </if>
        <if test="resourceId != null and resourceId != ''">
            AND t1.resource_id = #{resourceId}
        </if>
        <if test="startTime!= null">
            AND t1.operation_time >= #{startTime}
        </if>
        <if test="endTime!= null">
            AND t1.operation_time &lt;= #{endTime}
        </if>
        ORDER BY t1.operation_time DESC
    </select>
</mapper>