spring:
  profiles:
    active: dev
    include:
      - authorize
      - ai
      - prompt_template
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 100MB