<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight([%-5level]) [%-35.35(%thread)] [%X{TraceId:-TraceId}] [%X{RemoteIP:-RemoteIP}] [%X{TenantCode:-TenantCode}] [%X{username:-username}] --- %highlight(%-50.50(%logger{50})#%M\(%F:%L\)): %msg%n" />
    <property name="log.home" value="/app/logs" />
    <property name="log.fileName" value="auth-server" />
    <springProperty name="loki.enabled" source="loki.enabled" />
    <springProperty name="loki.url" source="loki.url" />
    <springProperty name="loki.jobName" source="spring.application.name" />
    <springProperty name="loki.env" source="loki.env" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${log.fileName}.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/${log.fileName}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${log.fileName}.error.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/${log.fileName}-%d{yyyy-MM-dd}-%i.error.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="loki" class="com.github.loki4j.logback.Loki4jAppender">
        <http class="com.github.loki4j.logback.ApacheHttpSender">
            <url>${loki.url}</url>
        </http>
        <format>
            <label>
                <pattern>application=${loki.jobName},host=${HOSTNAME},env=${loki.env},level=%level</pattern>
            </label>
            <message>
                <pattern>
                    {
                    "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                    "level":"%level",
                    "thread":"%thread",
                    "traceId": "%X{TraceId}",
                    "apmTraceId": "%X{trace.id}"
                    "remoteIp": "%X{RemoteIP}",
                    "tenantCode": "%X{TenantCode}",
                    "username": "%X{username}"
                    "class":"%logger{50}#%M:%L",
                    "message": "%message"
                    }
                </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <appender name="async-loki" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="loki" />
    </appender>

    <springProfile name="prod">
        <logger name="cn.opensrcdevelop" level="debug" />
        <!-- Spring framework logger -->
        <logger name="org.springframework" level="info" />
        <logger name="org.springframework.session.web.http.SessionRepositoryFilter" level="warn" />
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
            <if condition='property("loki.enabled").equals("true")'>
                <then>
                    <appender-ref ref="async-loki" />
                </then>
            </if>
        </root>
    </springProfile>

    <springProfile name="dev">
        <logger name="cn.opensrcdevelop" level="debug" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <!-- Spring framework logger -->
        <logger name="org.springframework" level="debug" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="org.springframework.session.web.http.SessionRepositoryFilter" level="warn" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="org.springframework.core.codec.StringDecoder" level="warn" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <logger name="org.springframework.web.client.DefaultRestClient" level="warn" additivity="false">
        </logger>
        <root level="info">
            <appender-ref ref="console" />
        </root>
    </springProfile>
</configuration>