.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #1d2129;
    user-select: none;
  }

  .id {
    width: 380px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: #86909c;
    user-select: none;
  }
}

.tab-container {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.info-title {
  font-weight: 500;
  font-size: 20px;
  color: #1d2129;
  margin-bottom: 16px;
}

.remove-userinfo-uri,
.remove-scope {
  color: #86909c;
  cursor: pointer;
  margin-left: 8px;
  font-size: 16px;
}

.add-userinfo-uri-btn,
.add-scope-btn {
  width: fit-content;
  margin-bottom: 16px;
}

.table-column-name {
  cursor: pointer;
  color: #215ae5;
}

.extra-info {
  width: 100%;
}