.create-tile {
  font-size: 24px;
  font-weight: 700;
  color: #1d2129;
  margin-bottom: 16px;
  user-select: none;
}

.info-title {
  font-weight: 500;
  font-size: 20px;
  color: #1d2129;
  margin-bottom: 16px;
}

.remove-userinfo-uri,
.remove-scope {
  color: #86909c;
  cursor: pointer;
  margin-left: 8px;
  font-size: 16px;
}

.add-userinfo-uri-btn,
.add-scope-btn {
  width: fit-content;
  margin-bottom: 16px;
}
