<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opensrcdevelop.auth.biz.mapper.system.password.PasswordPolicyMapper">

    <select id="getMatchedPasswordPolicy" resultType="cn.opensrcdevelop.auth.biz.entity.system.password.PasswordPolicy">
        SELECT
            t1.policy_id,
            t1.policy_name,
            t1.password_strength,
            t1.custom_strength_config,
            t1.enable_password_detection,
            t1.enable_force_change_password,
            t1.forced_cycle,
            t1.forced_cycle_unit,
            t1.remind_cycle,
            t1.remind_cycle_unit
        FROM
            t_password_policy t1
            LEFT JOIN t_password_policy_mapping t2 ON t1.policy_id = t2.policy_id
        WHERE
            t1.enabled = TRUE
            AND t2.user_id = #{userId}
            OR t2.user_group_id IN (SELECT DISTINCT user_group_id FROM t_user_group_mapping WHERE user_id = #{userId})
        ORDER BY
            t1.priority ASC
            LIMIT 1;
    </select>
</mapper>