<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opensrcdevelop.auth.biz.mapper.system.password.UpdatePasswordRemindLogMapper">

    <resultMap id="remindLogResultMap" type="cn.opensrcdevelop.auth.biz.entity.system.password.UpdatePasswordRemindLog">
        <result column="remind_method" property="remindMethod" />
        <result column="remind_time" property="remindTime" />
        <result column="success" property="success" />
        <association property="user" resultMap="userResultMap" />
        <association property="passwordPolicy" resultMap="policyResultMap" />
    </resultMap>

    <resultMap id="userResultMap" type="cn.opensrcdevelop.auth.biz.entity.user.User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
    </resultMap>

    <resultMap id="policyResultMap" type="cn.opensrcdevelop.auth.biz.entity.system.password.PasswordPolicy">
        <id column="policy_id" property="policyId" />
        <result column="policy_name" property="policyName" />
    </resultMap>

    <select id="searchRemindLogs" resultMap="remindLogResultMap">
        SELECT
            t1.remind_method,
            t1.remind_time,
            t1.success,
            t2.user_id,
            t2.username,
            t3.policy_id,
            t3.policy_name
        FROM
            t_update_password_remind_log t1
            LEFT JOIN t_user t2 ON t2.user_id = t1.user_id
            LEFT JOIN t_password_policy t3 ON t3.policy_id = t1.policy_id
        <where>
            <if test="keyword != null and keyword != ''">
                t2.username LIKE CONCAT( '%', #{keyword}, '%' )
                OR t3.policy_name LIKE CONCAT( '%', #{keyword}, '%' )
            </if>
        </where>
        ORDER BY t1.remind_time DESC
    </select>
</mapper>