.detail-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #1d2129;
    user-select: none;
  }

  .id {
    width: 380px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: #86909c;
    user-select: none;
  }
}

.tab-container {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.info-title {
  font-weight: 500;
  font-size: 20px;
  color: #1d2129;
  margin-bottom: 16px;
}

.table-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-list {
  box-sizing: border-box;
  margin-top: 16px;

  .table-column-name {
    cursor: pointer;
    color: #215ae5;
  }
}

.edit-status-container {
  position: relative;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  .status-tag,
  .status-btn {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
