.change-pwd-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 48px);
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    width: 456px;
    position: relative;
    box-shadow: 0 0 60px rgba(84, 89, 104, 0.05);
    box-sizing: border-box;

    .submit-btn {
        width: 100%;
    }

    .tip-info-container {
      height: 38px;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 460px) {
  
  .change-pwd-container {
    display: flex;
    align-items: flex-start;

    .form-container {
      height: 100%;
      max-height: none;
      box-shadow: none;
    }
  }
}
