.change-pwd-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 48px);
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    width: 456px;
    position: relative;
    box-shadow: 0 0 60px rgba(84, 89, 104, 0.05);
    box-sizing: border-box;

    .submit-btn {
        width: 100%;
    }

    .tip-info-container {
      .change-pwd-title {
        color: #282d3c;
        font-size: 24px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 34px;
        margin-bottom: 4px;
      }

      .change-pwd-info {
        color: #545968;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 460px) {
  
  .change-pwd-container {
    display: flex;
    align-items: flex-start;

    .form-container {
      height: 100%;
      max-height: none;
      box-shadow: none;
    }
  }
}
