.layout-container {
  width: 100%;
  height: 100%;

  .spin {
    height: 100%;
    width: 100%;
  }

  .layout-sider {
    width: 240px !important;
    min-width: 240px;
    position: relative;
    overflow: hidden;
    user-select: none;

    .menu {
      background-color: #f7f8fa;
      height: calc(100vh - 56px);
      overflow: hidden;

      .arco-menu-light,
      .arco-menu-inline-header,
      .arco-menu-pop-header,
      .arco-menu-item {
        background-color: #f7f8fa;
      }

      .arco-menu-selected {
        background-color: #e9effd !important;
        color: #396aff !important;
        border-radius: 4px;

        .arco-menu-icon {
          .arco-icon {
            fill: #396aff;
          }
        }
      }

      .arco-menu-inline-header:hover,
      .arco-menu-item:hover,
      .arco-menu-pop-header:hover {
        border-radius: 4px;
        background-color: #e5e6eb;
        color: #396aff;

        .arco-menu-icon {
          .arco-icon {
            fill: #396aff;
          }
        }
      }
    }

    .arco-scrollbar-track-direction-vertical {
      width: 0px;
    }

    .arco-scrollbar-thumb-direction-vertical .arco-scrollbar-thumb-bar {
      width: 0px;
    }

    .arco-layout-sider-children {
      overflow: hidden;
    }

    .action-container {
      overflow: hidden;
      width: 100%;
      height: 56px;
      box-sizing: border-box;
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #f7f8fa;
      padding: 4px;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s;

      .trigger-button {
        color: var(--color-text-3);
      }
    }
  }

  .layout-main {
    padding: 32px;
    width: 100%;
    height: calc(100vh);
    overflow: auto !important;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from {
  opacity: 0.2;
}
.fade-enter-to {
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0.2;
}

@media (max-width: 768px) {
  .layout-container {
    .layout-sider {
      width: 48px !important;
      min-width: 48px;
    }

    .action-container {
      .avatar {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        margin-bottom: 0;
      }
    }
  }
}
