.task-center {
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    user-select: none;

    .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 40px;

      .title {
        font-size: 24px;
        font-weight: 700;
        color: #1d2129;
        padding-bottom: 8px;
      }

      .info {
        font-size: 14px;
        font-weight: 400;
        color: #86909c;
      }
    }
  }

  .task-operation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .task-list {
    :deep(.arco-tabs) {
      border: none;
    }
  }
}
