<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opensrcdevelop.auth.biz.mapper.OidcScopeMapper">

    <resultMap id="scopeResultMap" type="cn.opensrcdevelop.auth.biz.entity.OidcScope">
        <id column="scope_id" property="scopeId"/>
        <result column="scope_name" property="scopeName"/>
        <collection property="claims" ofType="cn.opensrcdevelop.auth.biz.entity.OidcClaim">
            <id column="claim_id" property="claimId"/>
            <result column="claim_name" property="claimName"/>
            <association property="userAttr" resultMap="userAttrResultMap"/>
        </collection>
    </resultMap>

    <resultMap id="userAttrResultMap" type="cn.opensrcdevelop.auth.biz.entity.UserAttr">
        <id column="attr_id" property="attrId"/>
        <result column="attr_key" property="attrKey"/>
    </resultMap>

    <select id="searchScopeClaims" resultMap="scopeResultMap">
        SELECT
            t3.scope_id,
            t3."scope_name",
            t4.claim_id,
            t4.claim_name,
            t5.attr_id,
            t5.attr_key
        FROM
            (
                SELECT
                    t1.scope_id,
                    t1."scope_name",
                    t2.claim_id
                FROM
                    t_oidc_scope t1
                LEFT JOIN t_oidc_claim_scope_mapping t2 ON t1.scope_id = t2.scope_id
                <if test="scopes != null and scopes.size > 0">
                WHERE
                    SCOPE_NAME IN
                    <foreach collection="scopes" item="scope" open="(" separator="," close=")">
                        #{scope}
                    </foreach>
                </if>
        ) t3
        LEFT JOIN t_oidc_claim t4 ON t3.claim_id = t4.claim_id
        LEFT JOIN t_user_attr t5 ON t4.user_attr_id = t5.attr_id
    </select>
</mapper>