<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opensrcdevelop.auth.biz.mapper.OidcClaimMapper">

    <resultMap id="claimResultMap" type="cn.opensrcdevelop.auth.biz.entity.OidcClaim">
        <id column="claim_id" property="claimId"/>
        <result column="claim_name" property="claimName"/>
        <association property="userAttr" resultMap="userAttrResultMap"/>
    </resultMap>

    <resultMap id="userAttrResultMap" type="cn.opensrcdevelop.auth.biz.entity.UserAttr">
        <id column="attr_id" property="attrId"/>
        <result column="attr_key" property="attrKey"/>
        <result column="attr_name" property="attrName"/>
    </resultMap>

    <select id="searchClaims" resultMap="claimResultMap">
        SELECT
            t1.claim_id,
            t1.claim_name,
            t2.attr_id,
            t2.attr_key,
            t2.attr_name
        FROM
            t_oidc_claim t1
                LEFT JOIN t_user_attr t2 ON t2.attr_id = t1.user_attr_id
        <if test="claims != null and claims.size > 0">
        WHERE
            t1.claim_name IN
            <foreach collection="claims" item="claim" open="(" separator="," close=")">
                #{claim}
            </foreach>
        </if>
    </select>
</mapper>